.App {
  
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}
.padding {
  padding: 2em;
}
table {
  border-collapse: collapse;
}
table.full {
  width: 100%;
}
table * {
  font-size: 14px;
}
table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
table td,
table th {
  padding: .5rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
  text-align: left;
}
table th {
  border-top: 0;
}
button,
input,
select {
  border: 1px solid #ccc;
  padding: .5em .75em;
  max-width: 200px;
  cursor: pointer;
}
button {
  margin-left: 10px;
}
td span {
  padding: .5em;
  display: inline-block;
}
.bolder {
  font-weight: bold;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
